DB_HOST="localhost"
DB_PORT=3306
DB_USER="root"
DB_PASSWD=""
DB_NAME=""

EMAIL_KEY=""
FROM_EMAIL=""

SMS_ACCOUNT_ID=""
SMS_AUTH_TOKEN=""

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=None
